<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand text-white" href="/">Wizzard Manager</a>

  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/wizard">Wizzards</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="/wdata">Wizzard Data</a>
      </li>

      <% if(login=="yes" ){ %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Logout?</a>
        </li>
        <% }else{ %>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <% } %>


    </ul>
  </div>
</nav>