<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('partials/head') %>
  <title>Wizard Manager</title>
</head>
<body>

  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('partials/navbar') %>
    </div>
  </header>

  <!-- including footer component -->
  <%- include('partials/footer') %>
</body>
</html>