<!DOCTYPE html>
<html lang="en">

<head>
  <!-- including head component-->
  <%- include('partials/head'); %>
    <title>Wizzard Manager</title>
</head>

<body>

  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('partials/navbar', {login}) %>
    </div>
  </header>

  <!-- Banner -->
  <section class="banner-img">
    <div class="container">
      <div class="text">
        <h1 class="display-4">Wizzard Manager</h1>
        <p class="lead vw-75 m-auto">Wizzard Manager is a cloud-based questionnaire and survey solution
          and powerful tool to customize form questions.</p>
      </div>
    </div>
    </div>
  </section>

  <!-- including footer component -->
  <%- include('partials/footer') %>
</body>

</html>