<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('partials/head') %>
  <title>Document</title>
</head>
<body>

  <h1>Homepage</h1>

  <!-- including footer component -->
  <%- include('partials/footer') %>
</body>
</html>