/* customizing bootstrap */
header .navbar .navbar-brand{
  font-weight: bold;
}
header .navbar .navbar-nav a{
  position: relative;
}
header .navbar .navbar-nav a::after{
  position: absolute;
  background-color: white;
  content: '';
  left: 0;
  width: 100%;
  bottom: -3px;
  transition: 0.5s ease-in-out;
}
header .navbar .navbar-nav a:hover::after{
  height: 2px;
  bottom: 0px;
}