/* customizing bootstrap navbar */
header .navbar .navbar-brand{
  font-weight: bold;
}
header .navbar .navbar-nav a{
  position: relative;
}
header .navbar .navbar-nav a::after{
  position: absolute;
  background-color: white;
  content: '';
  left: 0;
  width: 100%;
  bottom: -3px;
  transition: 0.5s ease-in-out;
}
header .navbar .navbar-nav a:hover::after{
  height: 2px;
  bottom: 0px;
}

/* homepage */
.banner-img{
  height: 100vh;
  width: 100%;
  background-image: url("/imgs/bg.jpg");
  background-color: #A8DADC;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-img .text{
  width: 80%!important;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-img .text h2{
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4.5rem;
}

/* 404 errorpage */
.errorpage .content{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* viewWizard page styling */
#wizardform fieldset {
  display: none;
}
#wizardform .invalid {
  outline: 5px solid #ffdddd;
}
#wizardform .valid {
  outline: 5px solid #deffdd;
}