<!DOCTYPE html>
<html lang="en">

<head>
  <!-- including head component-->
  <%- include('../partials/head'); %>
    <title>Wizzards</title>
</head>

<body>

  <section class="errorpage">
    <div class="container">
      <div class="content">
        <img src="/imgs/404.jpg" alt="error page" />
        <p>The page you were looking for was moved or doesn't exist</p>
        <img src="/imgs/v-line.jpg" alt="v-line">
        <p>Let's get you back.</p>
        <img src="/imgs/v-line.jpg" alt="v-line">
        <p><a href="/" class="btn btn-primary">BACK TO HOME</a></p>
      </div>
    </div>
  </section>

  <!-- including footer component -->
  <%- include('../partials/footer') %>
</body>

</html>