<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('partials/head'); %>
  
  <!-- plugin -->
  <script src="js/form-builder.min.js"></script>
  <script src="js/form-render.min.js"></script>

  <title>Main Page</title>
</head>
<body>
  <h1>Hello <%= name %></h1>

  <div class="container mt-5">
    <h2 class="text-center text-primary">Wizard Form Generator</h2>
    <div id="build-wrap" class="mt-3"></div>
    <div id="render-wrap"></div>
  </div>
</body>
</html>