<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('../partials/head'); %>
  <title>Wizard Manager</title>
</head>
<body>

  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('../partials/navbar', {login: "no"}) %>
    </div>
  </header>


  <section>
    <div class="container">
      <h1 class="text-center text-primary mt-5">Registeration</h1>
    </div>
  </section>

  <!-- including footer component -->
  <%- include('../partials/footer') %>
</body>
</html>