<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('../partials/head') %>
  <!-- including plugin -->
  

  <title>Wizards</title>
</head>
<body>

  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('../partials/navbar') %>
    </div>
  </header>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>

  <!-- including custom setting -->
  <script src="js/formbuilder.js"></script>

  <!-- including footer component -->
  <%- include('../partials/footer') %>
</body>
</html>